body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.special{
    color: red;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}
#lname{
    border: 1px solid blue;
    color: red;
    font-style: italic;
    padding: 10px 5px;
    width: 90px;
    height: 100px;
}
#fname{
    border: 1px solid blue;
    color: red;
    font-style: italic;
    padding: 10px 5px;
    width: 90px;
    height: 100px;
}

